# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.DS_Store

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/


# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# ClimMob API key
token/api-key.txt
*.png
